<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <title>Error | Sudoku Champs</title>
        <link rel="icon" type="image/png" href="/images/main.jpg">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/styles/style.min.css" type="text/css" />
    </head>
    <body>
        {{{head}}}
        <h1>{{status}}</h1>
        <h1>{{message}}</h1>
        {{#if session}}
            <h1>That was odd, even for us.</h1>
            <a href="/">Go Back</a>
        {{else}}
            <pre>{{stack}}</pre>
        {{/if}}
    </body>
    {{{foot}}}
</html>