<!DOCTYPE html>
<html class="center">
  <head>
    <title>Leaderboard | Sudoku Champs</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  </head>
  <body>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/play">PLAY</a></li>
                <li><a href="/rules">RULES</a></li>
                <li><a id="inv">LEADERBOARD</a></li>
            </ul>
        </nav>
        <h1>Where Goliaths stand, with the Davids not so far behind...</h1>
        <table class="lead">
             <tr>
                <th>Rank</th>
                <th>Legend</th>
                <th>Score</th>
                <th>Matches</th>
                <th>Streak</th>
             </tr>
            <% if(lead) {%>
                <% for(i = 0; i < lead.length; ++i) { %>
                 <tr id=<%=(lead[i]._id == name) ? "reg" : ""%>>
                     <td><%= lead[i].rank || (i + 1) %></td>
                     <td><%= lead[i]._id %></td>
                     <td><%= lead[i].points %></td>
                     <td><%= lead[i].played %></td>
                     <td><%= lead[i].streak %></td>
                 </tr>
                 <% } %>
            <% } %>
        </table>
  </body>
  <footer>
      <nav>
          <ul>
              <li><a href="/logout">I wish to leave</a></li>
              <li><a href="/privacy">Privacy</a></li>
              <li><a href="/forum">Forum</a></li>
              <li><a href="/developers">Developers</a></li>
          </ul>
      </nav>
  </footer>
</html>