<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <meta charset="utf-8"/>
        <title>Login | Sudoku Champs</title>
        <link rel="icon" type="image/png" href="/images/main.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/style.min.css" type="text/css" />
        <script type="text/javascript" lang="javascript" src="/scripts/valid.min.js"></script>
    </head>
    <body>
        {{{head}}}
        <br><br>
        <h3 id="reg">{{flash.info}}</h3>
        <h1>Not registered? No worries, go <a href="/register" class="link">here</a><br></h1>
        <h2>Or, play as a guest <a href="/guest" class="link">here</a>.</h2>
        <h3>You'll get no points, nor would you feature on our exclusive leaderboard :(</h3>
        <form method="POST" action="/login">
        <input type="hidden" name="_csrf" value="{{token}}" />
        <input type="text" name="name"  value="{{flash.name}}" placeholder="User" autocomplete="on" required/> <br><br>
        <input type="password" name="password" placeholder="Password" required/> <br><br>
        <input type="submit" id="begin" value="Let's go!"/>
        </form>
        <br>
        <a href="/forgot" class="link">I need help with my password</a>
        <h3>Or, if you wish, you can login through one of your other accounts.</h3>
        <a href="/auth/fb"><img src="/images/social/fb.png" /></a>
        <a href="/auth/go"><img src="/images/social/go.png" /></a>
        <a href="/auth/tw"><img src="/images/social/tw.jpg" /></a>
    </body>
    {{{foot}}}
</html>