<!--
*  Sudoku Champs <sudokuchampster@gmail.com>
*
*  This program is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  This program is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*  GNU General Public License for more details.
*
*  You should have received a copy of the GNU General Public License
*  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html class="center">
    <head>
        <title>Register | Sudoku Champs</title>
        <link rel="icon" type="image/png" href="/images/main.jpg">
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <script lang="javascript" type="text/javascript" src="/scripts/valid.js"></script>
    </head>
    <body>
        {{{head}}}
        <br><br>
        <h3 class="reg">{{flash.info}}</h3>
        <h1>Let's get started</h1>
        <h2>Registration is completely free and takes only a minute. <br />(Depending on your internet connection, of course)<br /> Already registered ? Login <a href="/login" class="link">here</a></h2>
        <form method="POST" action="/register">
            <input type="hidden" name="_csrf" value="{{ token }}">
            <input type="text" name="name" placeholder="User" value="{{ flash.name }}" required /> <br><br>
            <input type="email" name="email" placeholder="Email" value="{{ flash.email }}" required/> <br><br>
            <input type="password" name="password" placeholder="Password" pattern=".{6,}" title="Six or more characters." required/> <br><br>
            <input type="password" name="confirm" placeholder="Confirm"  pattern=".{6,}" title="Six or more characters." required/><br><br><label class="reg err" for="confirm">{{flash.err}}</label> <br><br>
            <input type="submit" id="begin" value="I am ready"/>
        </form>
    </body>
    {{{foot}}}
</html>